{% extends "base.html" %}

{% block content %}
    <h2>Prijava</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Uporabniško ime:</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Geslo:</label>
            {{ form.password }}
        </div>
        <button type="submit">Prijavi me</button>
    </form>
{% endblock %}